
<!DOCTYPE html>

<html>
<head}

</head>

<style>

form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 453px;
  align: center;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;

}

input {
  width: 110px; 
  height: 40px;
  display: inline-block;
  padding: 2px;
} 


</style>



<body>
<form action="" method="post">{% csrf_token %}
<input type="submit" name="1" value="Light Up" />
<input type="submit" name="2" value="Light Down" />
<input type="submit" name="3" value="Pause" />
<input type="submit" name="4" value="Power" />

<input type="submit" name="5" value="Red" />
<input type="submit" name="6" value="Green" />
<input type="submit" name="7" value="Blue" />
<input type="submit" name="8" value="White" />

<input type="submit" name="9" value="Orange" />
<input type="submit" name="10" value="Light Green" />
<input type="submit" name="11" value="Deep Blue" />
<input type="submit" name="12" value="Milk White" />

<input type="submit" name="13" value="Deep Yellow" />
<input type="submit" name="14" value="Cyan" />
<input type="submit" name="15" value="Blue Purple" />
<input type="submit" name="16" value="Pink White" />

<input type="submit" name="17" value="Yellow" />
<input type="submit" name="18" value="Light Blue" />
<input type="submit" name="19" value="Purple" />
<input type="submit" name="20" value="Green White" />

<input type="submit" name="21" value="Light Yellow" />
<input type="submit" name="22" value="Sky Blue" />
<input type="submit" name="23" value="Brown" />
<input type="submit" name="24" value="Blue White" />

<input type="submit" name="25" value="Increase Red" />
<input type="submit" name="26" value="Increase Green" />
<input type="submit" name="27" value="Increase Blue" />
<input type="submit" name="28" value="Faster" />

<input type="submit" name="29"value="Reduce Red" />
<input type="submit" name="30" value="Reduce Green" />
<input type="submit" name="31" value="Reduce Blue" />
<input type="submit" name="32" value="Slower" />

<input type="submit" name="33" value="DIY 1" />
<input type="submit" name="34" value="DIY 2" />
<input type="submit" name="35" value="DIY 3" />
<input type="submit" name="36" value="Auto" />

<input type="submit" name="37" value="DIY 4" />
<input type="submit" name="38" value="DIY 5" />
<input type="submit" name="39" value="DIY 6" />
<input type="submit" name="40" value="Flash" />

<input type="submit" name="41" value="Jump 3" />
<input type="submit" name="42" value="Jump 7" />
<input type="submit" name="43" value="Fade 3" />
<input type="submit" name="44" value="Fade 7" />

</form>
</body>
</html>

